<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nikkei app</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bulma.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link rel="preload" as="image" href="/static/image/pose_1_1.png">
    <link rel="preload" as="image" href="/static/image/pose_1_2.png">
    <link rel="preload" as="image" href="/static/image/pose_2_1.png">
    <link rel="preload" as="image" href="/static/image/pose_2_2.png">
    <link rel="preload" as="image" href="/static/image/pose_3_1.png">
    <link rel="preload" as="image" href="/static/image/pose_3_2.png">
    <link rel="preload" as="image" href="/static/image/pose_4_1.png">
    <link rel="preload" as="image" href="/static/image/pose_4_2.png">
    <link rel="preload" as="image" href="/static/image/pose_5_1.png">
    <link rel="preload" as="image" href="/static/image/pose_5_2.png">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <div id='preload' />
    <section class='section'>
      <div class='container'>
        <div class='columns is-multiline is-mobile'>
          <div class="column is-one-third is-info">
            <div class='columns is-multiline is-mobile'>
              <div class='column is-full'>
                <div class='box has-text-centered' id='train-box'>
                  <h1 class='title is-5'>
                    学習データセット
                  </h1>
                  <div id='dataset-preview' class='columns is-multiline is-mobile'>
                  </div>
                  <button id='button-train' class='button is-fullwidth is-large is-prime' type="button" disabled=true>
                    学習をスタート
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-two-thirds">
            <div class='columns is-multiline is-mobile'>
              <div class='column is-full'>
                <div class='box has-text-centered'>
                  <p id='message'>...</p>
                </div>
              </div>
              <div class='column is-half'>
                <div class='box is-paddingless is-clipped' id='infer-box'>
                  <figure class='image is-1by1'>
                    <div id='preview-image' />
                  </figure>
                  <div id='infer-button' class='column is-full-width has-text-centered'>
                    <form id="infer-upload" action=''>
                      <label class="file-label has-text-centered">
                        判定する画像を選択
                        <input id='select-image' class="file-input" type="file" name="infer_file">
                      </label>
                    </form>
                  </div>
                </div>
              </div>
              <div class='column is-half'>
                <div id='triangle'>
                  <div id='triangle-inner' class='has-text-centered'>
                    <img src='/static/image/triangle_2.png' alt='triangle' width=50px height=50px />
                  </div>
                </div>
                <div id='chino-image'><div/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
