* {
  font-weight: 200;
}
.title { font-weight: 300;
}

#preview-image {
  top: 0;
  position: absolute;
  background-size: cover;
  background: no-repeat url('/static/image/preview_default.jpg');
  width: 100%;
  height: 100%;
}

#message {
  font-size: 1.5rem;
}

#triangle {
  display: inline;
  position: relative;
}

#triangle-inner {
  width: 100%;
  display: inline;
  position: relative;
  top: -24px;
  left: 48%;
}


label.file-label {
  font-size: 1.5rem;
  display: block;
}

#chino-image {
  margin-top: -36px;
  height: 100%;
  background: no-repeat url('/static/image/pose_1_1.png');
  background-size: contain;  /* default */
}

#chino-image.state-1 { background: no-repeat url('/static/image/pose_1_1.png'); background-size: contain; background-position: center top; }
#chino-image.state-1.alt { background: no-repeat url('/static/image/pose_1_2.png'); background-size: contain; background-position: center top; }
#chino-image.state-2 { background: no-repeat url('/static/image/pose_2_1.png'); background-size: contain; background-position: center top; }
#chino-image.state-2.alt { background: no-repeat url('/static/image/pose_2_2.png'); background-size: contain; background-position: center top; }
#chino-image.state-3 { background: no-repeat url('/static/image/pose_3_1.png'); background-size: contain; background-position: center top; }
#chino-image.state-3.alt { background: no-repeat url('/static/image/pose_3_2.png'); background-size: contain; background-position: center top; }
#chino-image.state-4 { background: no-repeat url('/static/image/pose_4_1.png'); background-size: contain; background-position: center top; }
#chino-image.state-4.alt { background: no-repeat url('/static/image/pose_4_2.png'); background-size: contain; background-position: center top; }
#chino-image.state-5 { background: no-repeat url('/static/image/pose_5_1.png'); background-size: contain; background-position: center top; }
#chino-image.state-5.alt { background: no-repeat url('/static/image/pose_5_2.png'); background-size: contain; background-position: center top; }

#preload {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url('/static/image/pose_1_1.png');
  background-image: url('/static/image/pose_1_2.png');
  background-image: url('/static/image/pose_2_1.png');
  background-image: url('/static/image/pose_2_2.png');
  background-image: url('/static/image/pose_3_1.png');
  background-image: url('/static/image/pose_3_2.png');
  background-image: url('/static/image/pose_4_1.png');
  background-image: url('/static/image/pose_4_2.png');
  background-image: url('/static/image/pose_5_1.png');
  background-image: url('/static/image/pose_5_2.png');
}

/* button style workaround */
#button-train {
  color: white;
  background-color: #57a2c5;
}

label.file-label {
  color: white;
  background-color: #fc959d;
  border-radius: 3px;
  padding: 8px 18px;
  text-align: center;
}

#train-box {
  border: solid 1px #57a2c5;
  box-shadow: none;
}

#infer-box {
  border: solid 1px #fc959d;
  box-shadow: none;
}

#infer-button {
  padding: 20px;
}
